canvas {
	background: #d3d3d3;
	cursor: url("images/all/chcursor.png"), crosshair;
	z-index: 1;
}

#loader {
	position: absolute;
	left: 45%;
	top: 40%;
	z-index: 2;
}

body {
	background-color: black;
}

@font-face{
	font-family: "Turtles";
    src: url("Turtles.ttf"); 
}


#contentholder {
	width: 1300px;
	height: 1000px;
	position: absolute;
	right: 17%;
	z-index: 6;
}


@media (max-width: 1580px) {
    #contentholder {
        left: 5px;
        margin-left: 0px;
    }
}

#header {
	clear: right;
	height: 100px;
	width: 1270px;
	position: absolute;
}

#playerstats {
	width: 200px;
	height: 480px;
	position: absolute;
	top: 115px;
	background-color: gray;
	border: 1px solid orange;
}

#game {
	width: 854px;
	height: 480px;
	position: absolute;
	top: 115px;
	left: 215px;
	border: 1px solid orange;
}

#leaderboards {
	width: 200px;
	height: 480px;
	position: absolute;
	top: 115px;
	left: 1079px;
	background-color: gray;
	border: 1px solid orange;
}

#instructions {
	width: 1280px;
	height: 300px;
	background-color: #FFC04C;
	position: absolute;
	top: 605px;
	border: 1px solid orange;
}

#statsheader {
	text-decoration: underline;
	font-family: Verdana;
	font-size: 25px;
	margin-left: 10px;
}

.stats {
	font-family: Verdana;
	font-size: 20px;
}

#highscores {
	font-family: Verdana;
	font-size: 20px;
}

.scorer {
	margin-top: 5px;
}

#instrtext {
	font-family: Verdana;
	font-size 18px;
	text-align: center;
}

#menustage11 {
	position: absolute;
	z-index: 3;
	left: 20%;
	top: 45%;
	display: none;
}

#menustage12 {
	position: absolute;
	z-index: 3;
	right: 25%;
	top: 45%;
	display: none;
}

.menubutton {
	cursor: crosshair;
	height: 80px;
	width: 200px;
	font-family: Turtles;
	font-size: 30px;
}

button {
	border: 2px solid black;
}

.menudiv {
	position: absolute;
	top: 40%;
	left: 13%;
	height: 250px;
	width: 620px;
	border: 2px solid black;
	background-color: #d3d3d3;
}

#singleplayermenu {
	z-index: -1;
}

#multiplayermenu {
	z-index: -1;
}

#gamenamediv {
	z-index: -1;
}

h2 {
	text-align: center;
	font-family: Turtles;
	font-size: 40px;
}

h3 {
	position: absolute;
	left: 41%;
	top: 30%;
	font-family: Turtles;
	font-size: 30px;
}

#map1 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 40%;
	top: 55%;
	cursor: crosshair;
}

#menustage121 {
	position: absolute;
	z-index: -1;
	left: 20%;
	top: 45%;
}

#menustage122 {
	position: absolute;
	z-index: -1;
	right: 25%;
	top: 45%;
}

#map12 {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 40%;
	top: 55%;
	cursor: crosshair;
}

#gamename {
	width: 300px;
	height: 40px;
	position: absolute;
	left: 25%;
	top: 45%;
	z-index: -1;
	font-size: 20px;
	font-family: Turtles;
	text-align: center;
}

#submitname {
	position: absolute;
	left: 33%;
	top: 70%;
	border: 2px solid black;
	cursor: crosshair;
	height: 40px;
	width: 200px;
	font-family: Turtles;
	font-size: 30px;
}

#waitingroom {
	z-index: -1;
}

#gameselect {
	z-index: -1;
}

#gamesel {
	position: absolute;
	left: 30%;
	top: 50%;
	width: 240px;
	height: 30px;
	font-size: 20px;
	font-style: Turtles;
}

#pickgame {
	position: absolute;
	left: 37%;
	top: 70%;
	border: 2px solid black;
	cursor: crosshair;
	height: 30px;
	width: 150px;
	font-family: Turtles;
	font-size: 20px;
}

#dialog-form {
	z-index: 5;
}

h1 {
	position: absolute;
	top: 5%;
	left: 16%;
	font-family: Turtles;
	font-size: 80px;
	z-index: 4;
}

#losescreen {
	z-index: -1;
}

#winscreen {
	z-index: -1;
}

#levelupscreen {
	z-index: -1;
}

#backmain {
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: Turtles;
	font-size: 10px;
	width: 80px;
	height: 20px;
	cursor: crosshair;
}

.statsbutton {
	font-family: Turtles;
	font-size: 30px;
	width: 60px;
	height: 60px;
	cursor: crosshair;
}

#addAgi {
	position: absolute;
	top: 40%;
	left: 15%;
}

#addAcc {
	position: absolute;
	top: 40%;
	left: 25%;
}

#addJump {
	position: absolute;
	top: 40%;
	left: 35%;
}

#submitstats {
	position: absolute;
	top: 40%;
	left: 60%;
}

#backstats {
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: Turtles;
	font-size: 10px;
	width: 80px;
	height: 20px;
	cursor: crosshair;
}

#agi {
	position: absolute;
	top: 55%;
	left: 15%;
}

#acc {
	position: absolute;
	top: 55%;
	left: 25%;
}

#jump {
	position: absolute;
	top: 55%;
	left: 35%;
}
